<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>ncss</title>
    <meta name="keywords" content="@ncss">
    <meta name="description" content="@ncss">
    <link type="text/css" rel="stylesheet" href="css/ncss_base.css"/>
    <link type="text/css" rel="stylesheet" href="css/ncss.css"/>
    <link type="text/css" rel="stylesheet" href="css/doc.css"/>
</head>
<body>
<!--[if lt IE 9]>
<p style="text-align: center!important; margin: 0 0 0.5em!important; background-color: #d9534f!important; color: #fff!important; padding: 0.5em 1em!important;">
    You are using an <strong>outdated</strong> browser. Please <a
        style="color: #fff!important; text-decoration: underline!important;" href="http://browsehappy.com/?locale=en">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="container">
    <header class="border-bottom header">
        <h2>ncss 文档</h2>
    </header>
    <div class="padding-lr">
        <article class="content">
            <%- docs %>
        </article>
    </div>
    <footer class="footer">
        <p>copy by n.see</p>
    </footer>
</div>
</body>
</html>

