$width: 100%;
[class*="row-li-"]{
  height: auto;
  @include after-clear();
  li{
    float: left;
  }
}

.row-li-space{
  margin:0 -#{$li-space/2};
  li{
    padding:0 #{$li-space/2};
    border:none !important;
  }
}

$n:2,3,4,5;
@each $i in $n{
  .row-li-#{$i}{
    li{
      width: $width/$i;
    }
  }
}

