//背景颜色
$body-background-color:#eee !default;
//字体颜色
$body-color:#333 !default;
$body-min-width:320px !default;
$body-max-width:480px !default;
$body-border-width:.875rem !default;

$container-background-color:#fff !default;
