$radio-width: 1rem;
$radio-color: #aaa;
$radio-checked-color: blue;
$radio-radius: $radio-width/2;

//checkbox
$checkbox-width: 1rem;
$checkbox-color: #aaa;
$checkbox-checked-color: blue;
$checkbox-radius: 2px;

//toggle
$toggle-bg:#ccc;
$toggle-color: #0080ff;
$toggle-width: 2.75rem;
$toggle-height: 1.75rem;
$toggle-margin:.125rem;
