//_prompt.scss
$prompt-mask-opacity:.5 !default;
$prompt-box-bg:#fff !default;
$prompt-z-index:1003 !default;
$prompt-lr-width:1rem !default;
$prompt-tb-width:1rem !default;
$prompt-border-radius:.125rem !default;

