.radio-item {
  display: block;
  input {
    display: none;
  }
  span {
    color: $radio-color;
  }
  input:checked + .radio-icon {
    border: 1px solid $radio-checked-color;
    &:after {
      background-color: $radio-checked-color;
    }
  }
  input:checked + .radio-icon + .radio-text {
    color: $radio-checked-color;
  }
}

.radio-text{
  font-size: .875rem;
}

.radio-icon {
  width: $radio-width;
  height: $radio-width;
  line-height: $radio-width;
  border: 1px solid $radio-color;
  border-radius: $radio-radius;
  padding: 3px;
  text-align: center;
  &:after {
    content: '';
    display: block;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    border-radius: $radio-radius;
    background-color: $radio-color;
  }
}

.radio-inline{
  padding: .75rem 0;
  span{
    display: inline-block;
    vertical-align: middle;
  }
}

.radio-fill{
  padding: .75rem 0;
  span{
    display:block;
  }
}