$handle-width:$toggle-height - ($toggle-margin*2);
.toggle{
  display: block;
  width:$toggle-width;
  height: $toggle-height;
  input{
    display: none;
  }
  input:checked + .track{
    background-color: $toggle-color;
    .handle{
      left:$toggle-width - $handle-width - $toggle-margin;
    }
  }
  .track{
    position: relative;
    width: $toggle-width;
    height: $toggle-height;
    line-height:$toggle-height;
    border-radius: $toggle-height/2;
    background-color: $toggle-bg;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-property: background-color;
  }
  .handle{
    position: absolute;
    top:$toggle-margin;
    left:$toggle-margin;
    background-color: #fff;
    border-radius: $handle-width/2;
    height:$handle-width;
    width:$handle-width;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-property: left ;
  }
}