.toggle{
  display: block;
  width:$toggle-width;
  height: $toggle-height;
  cursor: pointer;
  input{
    display: none;
  }
  input:checked + .track{
    background-color: $toggle-color;
    .handle{
      left:$toggle-width - $toggle-height;
      border:2px solid  $toggle-color;
    }
  }
  .track{
    position: relative;
    width: $toggle-width;
    height: $toggle-height;
    line-height:$toggle-height;
    border-radius: $toggle-height/2;
    background-color: $toggle-bg;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-property: background-color , border;
  }
  .handle{
    position: absolute;
    top:0;
    left:0;
    background-color: #fff;
    border-radius:$toggle-height/2;
    height:$toggle-height;
    width:$toggle-height;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-property: left ;
    border:2px solid $toggle-bg;
  }
}
.toggle-row{
  .title {
    line-height: $toggle-height;
  }
}