header.title {
  h1 {
    font-size: 1.125rem;
  }
  .meta{
    height: 1rem;
  }
  time {
    font-size: .75rem;
  }
}

.content{
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: .7em 0 .3em 0;
  }
}